[MESSAGES CONTROL]
# redefined-outer-name is turned off because it complains about pytest fixtures.
disable=missing-docstring,redefined-outer-name

[FORMAT]
max-line-length=88

[BASIC]
# do method on undoable commands, e for exception, f for
# file, i for index, io for I/O, s for meaningless string.
good-names=do,e,f,i,io,s

[DESIGN]
# Will review to reduce these to defaults.
max-branches=18
max-locals=18
max-public-methods=25
